/* tabla-------------------*/
#mitabla {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    font-family: "Arial", Arial, Arial, arial;
    font-size: 11px;
    border-collapse: collapse;
    width: 100%;
}

#mitabla td, #mitabla th {
    border: 1px solid #ddd;
    padding: 5px;
    
}

#mitabla tr:nth-child(even){background-color: #f2f2f2;}

#mitabla tr:hover {background-color: #ddd;}

#mitabla th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #3c8dbc;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
#div1 {
     overflow:scroll;
     height:200px;
     width:500px;
}
#div1 table {
    width:500px;
    background-color:lightgray;
}    
/*Estilo de reportes---------------------------------*/
.row {
        font-family: arial;
        font-size: 11px;

     }
      .left {
        float: left;
        width: 50%;
    }

    .left .content {
        border-right: 5px solid #4BB495  ;
    }

    .right {
        float: right;
        width: 50%;
    }

     .left1 {
        float: left;
        width: 25%;
    }
     .medio1 {
        float: left;
        width: 35%;
    }
       .right1 {
        float: right;
        width: 40%;
    }
    .col-md-8{
        padding-left:  1px;
        font-size: 11px;
    }
    .col-md-12{
       
        font-size: 11px;
    }


/*---------------cuadros----------*/
    .box1 {
   font-family: arial;
        font-size: 11px;
width:100%;
margin:0% 10%;
padding:10px;
align-content:  right;
border:2px solid black;
border-bottom: 0px;
border-right: 0px;
}
.box2 {
 font-family: arial;
        font-size: 11px;
margin:2% 15%;
padding:5px;
border:2px solid black;
}

.box3 {
   font-family: arial;
        font-size: 11px;
width:100%;
margin:0% 0% 0% 0%;
padding:1px;
border:2px solid black;
}
.box4 {
   font-family: arial;
        font-size: 11px;
width:100%;
margin:0% 0% 0% 0%;
padding-top:40px;
border:2px solid black;
border-top: 0px;
}

.panel  {
    font-family: "Arial", Arial, Arial, arial; 
        font-size: 12px;
}


    /*----inputs------------*/
input[type="date"] {
width: 30%;  font-family: "Arial", Arial, Arial, arial; font-size: 11px; border: none;
}

select {
      width: 40%; height: 22px; border: none;  font-family: "Arial", Arial, Arial, arial; font-size: 11px;
}

