/* tabla-------------------*/

#mitabla {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    font-family: "Arial", Arial, Arial, arial;
    font-size: 11px;
    border-collapse: collapse;
    width: 100%;
}

/*#mitabla td {
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
}*/

#mitabla td, #mitabla th {
    border: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    
}


#mitabla tr:nth-child(even){background-color: #f2f2f2;}

#mitabla tr:hover {background-color: #ddd;}

#mitabla th {
/*  border: white 1px solid;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #3c8dbc; 
    color: white;
    font-size: 12px;
    font-weight: bold;*/

    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #000000;
    color: white;
    font-size: 11px;

}
#div1 {
     overflow:scroll;
     height:200px;
     width:500px;
}
#div1 table {
    width:500px;
    background-color:lightgray;
}    
/*Estilo de reportes---------------------------------*/

/*---------------cuadros----------*/
    .box1 {
   font-family: arial;
        font-size: 11px;
width:100%;
margin:0% 10%;
padding:10px;
align-content:  right;
border:2px solid black;
border-bottom: 0px;
border-right: 0px;
}
.box2 {
 font-family: arial;
        font-size: 11px;
margin:2% 15%;
padding:5px;
border:2px solid black;
}

.box3 {
   font-family: arial;
        font-size: 11px;
width:100%;
margin:0% 0% 0% 0%;
padding:1px;
border:2px solid black;
}
.box4 {
   font-family: arial;
        font-size: 11px;
width:100%;
margin:0% 0% 0% 0%;
padding-top:40px;
border:2px solid black;
border-top: 0px;
}

.panel  {
    font-family: "Arial", Arial, Arial, arial; 
        font-size: 12px;
}

#modale {
 
  border: 5px solid #3c8dbc;
  border-radius: 10px;
  font-family: "Arial", Arial, Arial, arial;
 
}
